<div class="container">
<div class="page-header">
    <div class="container-fluid">
        <div class="col-sm-10">
            <h2>Salvar Contato</h2>
        </div>
        
        <div class="col-sm-2">
            <div class="aw-page-header-controls">
                <a class="btn btn-default" href="#" >
                    <i class="glyphicon glyphicon-plus-sign"></i><span class="hidden-xs hidden-sm">Pesquisar Contatos</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <form (ngSubmit)="onSubmit()" #contatoForm="ngForm">
        <div class="row">
            <div  [ngClass]="getFormGroupClass(nome.valid, nome.pristine)">
                <label for="nome" class="form-control-label">Nome:</label> 
                <input id="nome" type="text"  [ngClass]="getFormControlClass(nome.valid, nome.pristine)"  
                    name="nome" [(ngModel)]="contato.nome"
                    #nome="ngModel" required />
                <div class="form-control-feedback" [hidden]="nome.valid || nome.pristine">O campo nome é obrigatório!</div>
            </div>
        </div>
        <div class="row" >
            <div  [ngClass]='getFormGroupClass(email.valid, email.pristine)'>
                <label for="email" class="control-label">Email:</label> 
                <input id="email" type="email"  name="email" [(ngModel)]="contato.email"
                    [ngClass]="getFormControlClass(email.valid, email.pristine)"
                    required #email="ngModel"/>
                 <div class="form-control-feedback" [hidden]="email.valid || email.pristine">O campo email é obrigatório!</div>
            </div>
        </div>
        <div class="row" >
            <div  [ngClass]="getFormGroupClass(telefone.valid, telefone.pristine)">
                <label for="telefone" class="control-label">Telefone:</label> 
                <input id="telefone" type="text"  name="telefone" [(ngModel)]="contato.telefone"
                    #telefone="ngModel" required
                    [ngClass]="getFormControlClass(telefone.valid, telefone.pristine)" />
                <div class="form-control-feedback" [hidden]="telefone.valid || telefone.pristine">O campo telefone é obrigatório!</div>
            </div>
        </div>
        
        <button type="submit" class="btn btn-success " [disabled]="!contatoForm.form.valid">Salvar</button>
        <a type="button" class="btn btn-secundary" routerLink="/">Voltar</a>
    </form>
</div>
</div>